{% extends "base.html" %} {% block title %} index {% endblock title %} {%block content %} {% load app_extras %}
<div class="card border-success my-5">
    <div class="card-header border-success">
        <h2>relative</h2>
    </div>

    <div class="card-body">
        <a href="{% url 'app:users' %}" class="btn btn-success">goto users </a>
        <a href="{% url 'admin:index' %}" class="btn btn-success">goto dasgboard </a>
        <h1>{{num|addsomevalue }}</h1>

    </div>
    {% endblock content %}