{% extends "base.html" %} {% block title %} profile {% endblock title %} {% block content %}
<h1 class="text-center my-5">posts</h1>
<div class="row ">
    {% for post in posts %}
    <div class="card col-md-6 offset-md-3 my-2">
        <div class="user my-1 pb-1 border-bottom d-flex text-center">
            <img src="{{ post.author.user_img.url }}" alt="" class="rounded-circle mx-1" width="50px" height="50px">
            <a href="{% url 'chatapp:profile' post.author.user.id %} " class="pt-2 text-decoration-none">{{ post.author.user.username }}</a>
        </div>
        <img class="card-img-top" src="{{ post.img.url }}" alt="">
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text border-bottom my-2 pb-3">{{ post.content }}</p>
            <div class="d-flex">
                <small> {{ post.created_date }} </small>
            </div>

            {% if user.pk == post.author.user.pk %}
            <div class="d-flex justify-content-end">
                <a href="{% url 'chatapp:updatepost' post.id %}" class="btn btn-info mx-3"> edit  </a>
                <a class="btn btn-danger" href="{% url 'chatapp:deletepost' post.id %}"> delete  </a>
            </div>
            {% endif %}
            <div class="comments">
                <a href="{% url 'chatapp:comments' post.pk %}">
                    <h3 class="text-info">comments</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="pagination mb-5 w-100 d-flex justify-content-between col-md-6  offset-md-3">

        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-info mx-5">previous</a> {% endif %} {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-info mx-5"> next</a>{% endif %}
    </div>
    {% empty %}
    <h4 class="text-center">no posts exist !!</h4>
    {% endfor %} {% endblock content %}
</div>